<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Holiday</title>
</head>
{% extends 'base.html' %}

{% block title %}Work_on_holidays{% endblock %}

{% block content %}
<body>
    <h1>Submit Holiday</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_name">Holiday Name:</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_department">Department:</label>
            {{ form.department }}
        </div>
        <div>
            <label for="id_purpose">Purpose of Holiday:</label>
            {{ form.purpose }}
        </div>
        <div>
            <label for="id_entry_time">Entry Time:</label>
            {{ form.entry_time }}
        </div>
        <div>
            <label for="id_exit_time">Exit Time:</label>
            {{ form.exit_time }}
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
{% endblock %}
</html>
